body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Dark background color */
    background-size: cover;
    background-position: center;
}

/* Hide scrollbar */
body::-webkit-scrollbar {
    width: 0; /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Hide scrollbar for Firefox */
body {
    scrollbar-width: none;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px; /* Reduced padding */
    height: 50px; /* Adjusted height */
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    background-color: #4CAF50; /* Green background color */
    border: none;
    color: white; /* White text color */
    padding: 8px 20px; /* Adjusted padding */
    text-align: center; /* Centered text */
    text-decoration: none;
    display: inline-block;
    font-size: 14px; /* Decreased font size */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin-right: 10px; /* Adjusted margin */
}

.login-button:hover {
    background-color: #abf4af; /* Darker green color on hover */
}

.logo {
    margin-left: 40px; /* Added margin to the left of the logo */
}

.logo img {
    max-width: 200px; /* Updated size of logo */
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Remove right margin for the last item */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px; /* Adjusted padding */
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 20px; /* Updated font size */
}

nav ul li:not(.login-button) a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 50%; /* Adjusted height */
    margin-bottom: 40px; /* Updated spacing */
    overflow: hidden;
}

.video-container iframe,
.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure video fits screen without being zoomed */
}

.video-text {
    position: absolute;
    bottom: 40px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    color: #fff;
    font-size: 36px; /* Increased font size */
    text-align: center;
    z-index: 1; /* Ensure the text is above the video */
}

.large-text {
    font-size: 40px; /* Adjust font size for larger text */
}

.small-text {
    font-size: 25px; /* Adjust font size for smaller text */
}

#home .content.with-background {
    background-image: url('Logos/content_background.jpg'); /* Specify the background image */
    background-size: cover;
    background-position: center;
    background-color: #000; /* Set background color to match the page */
    padding: 150px 50px; /* Increase padding to create more space */
    border: none; /* Remove border */
    border-radius: 0; /* Remove curved corners */
    overflow: hidden; /* Hide any overflow content */
}

#home .content.with-background .container {
    font-size: 30px; /* Increase font size for all text within the container */
    padding: 10px 50px; /* Updated padding */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#home .content.with-background h1 {
    font-size: 36px; /* Increase font size for the heading */
}




#intro {
    background-image: url('Logos/Rapidmotion_With_Background.png'); /* Add your background image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust the height as needed */
    position: relative;
}

.intro-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Add a semi-transparent overlay */
}



#about .aboutus {
    background-image: url('Logos/background_about_us.jpg'); /* Specify the background image */
    background-size: cover;
    background-position: center;
    padding: 200px; /* Adjust padding as needed */
    background-color: rgba(255, 0, 0, 0.5); /* Red background color with 50% opacity */
    transition: background-color 0.3s ease; /* Transition effect for background color */
}

#about .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* White background color with 30% opacity */
    transition: background-color 0.3s ease; /* Transition effect for background color */
}

#about .container {
    text-align: center; /* Center-align text */
    color: #ffffff; /* Text color */
    position: relative; /* Ensure z-index works correctly */
    z-index: 1; /* Ensure text is above the background overlay */
}

#about h2 {
    font-size: 70px; /* Heading font size */
    margin-bottom: 20px; /* Add some space below the heading */
}

#about p {
    font-size: 30px; /* Paragraph font size */
    line-height: 1.6; /* Adjust line height for better readability */
}




#contact .container {
    text-align: center; /* Center-align the content */
    color: #ffffff;
    background-color: #141414;
    padding: 100px 50px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#contact .contact-info {
    display: flex;
    align-items: center; /* Align content vertically */
}

#contact .logo {
    margin-right: 20px; /* Adjust the margin to move the logo to the left */
}

#contact .contact-details {
    flex: 1;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: left; /* Align contact details text to the left */
}
#contact .contact-details span {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent element */
}

#contact .contact-details a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from parent element */
}

#contact .contact-details a:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
    color: #888888; /* Change color on hover */
    text-decoration: none; /* Remove underline on hover */
}


#contact .contact-details h2 {
    margin-top: 0;
    margin-bottom: 20px; /* Add margin-bottom to separate contact details from social icons */
    text-align: left; /* Align heading to the left */
}

#contact .social-icons {
    display: flex;
    align-items: center; /* Align social icons vertically */
    flex-wrap: wrap; /* Allow wrapping of social icons if necessary */
    margin-top: 20px; /* Add margin-top to separate social icons from contact details */
}

#contact .social-icons a {
    margin-left: 20px;
    display: inline-block; /* Ensure social icons are displayed in a row */
}

.documents-link {
    text-align: left; /* Align documents link to the left */
    margin-top: 20px; /* Adjust as needed */
    padding-left: 280px; /* Add padding to move it away from social icons */
    padding-right: 150px;
}

.documents-link a {
    color: #ffffff;
    text-decoration: none;
}


















footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 15px 0; /* Updated padding */
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #fff; /* Set the color of the links */
    text-decoration: none; /* Remove underline */
}

footer a:hover {
    color: #fff; /* Keep the color unchanged on hover */
}



/* Media Queries for Responsive Design */

@media only screen and (max-width: 768px) {
    .logo {
        margin-left: 20px; /* Adjusted margin for smaller screens */
    }

    .login-button {
        padding: 8px 15px; /* Adjusted padding for smaller screens */
    }

    nav ul li a {
        font-size: 16px; /* Decreased font size for smaller screens */
    }

    .container {
        margin: 100px auto; /* Adjusted margin for smaller screens */
        padding: 20px; /* Adjusted padding for smaller screens */
    }

    .video-text {
        font-size: 20px; /* Decreased font size for smaller screens */
    }

    #contact .container {
        padding: 50px 10px;
        font-size: 18px;
    }

    .social-icons {
        padding: 40px 0;
    }

    .contact-info {
        padding: 0 10px;
    }

    .social-icons {
        padding: 30px 0;
    }
}
